<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="main_style.css">

    <title>Account</title>
</head>
<!--    Click User image in the upper right hand corner will bring you to this page-->
<!--    and from here you can choose to Sign in or Create an account-->

<body>

    <div class="jumbotron text-center">
        <h2>
            Account
        </h2>

        <form method="GET" action="/">
            <button class="btn" type="submit">Home</button>
        </form>
    </div>

    <div class="text-center">
        <form method="GET" action="/signIn">
            <button class="btn" type="submit">Sign In</button>
        </form>

        <form method="GET" action="/create_account">
            <button class="btn" type="submit">Create Account</button>
        </form>
    </div>











</body>

</html>